.ipynb_checkpoints
.venv
.vscode/*

.history/
*.vsix

\_pycache_\
*.py
*$py.class

.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

.manifest.py
.spec

pip-log.txt
pip-delete-this-directory.txt

htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

profile_default/
ipython_config.py

.python-version

.mypy_cache/
.dmypy.json
dmypy.json
.pyre/

setuptools
pip
pkg_resources

spaCY
nnotated-types    
asttokens         
blis              
catalogue          
certifi            
charset-normalizer 
click              
cloudpathlib       
colorama          
comm               
confection         
cymem              
debugpy            
decorator          
en-core-web-sm     
executing          
idna               
ipykernel          
ipython            
jedi               
Jinja2             
joblib             
wasabi             
wcwidth            
weasel             
wheel  

jupyter_client     
jupyter_core       
langcodes          
MarkupSafe         
matplotlib-inline  
murmurhash         
nest-asyncio       
nltk               
numpy              
packaging          
parso              
pip                
platformdirs       
preshed            
prompt-toolkit     
psutil             
pure-eval          
pydantic           
pydantic_core      
Pygments           
python-dateutil    
pywin32            
pyzmq              
regex              
requests           
setuptools         
six                
smart-open         
spacy              
spacy-legacy       
spacy-loggers      
spacytextblob      
srsly              
stack-data         
textblob           
thinc              
tornado            
tqdm               
traitlets          
typer              
typing_extensions  
urllib3            